body { font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 18px;
    color: #3a3a3a;
}

.container {max-width: 40rem; margin:auto auto; padding:2rem;}

a {color:#555;  text-decoration: none; }
a:hover {color: #777;}
a,a:hover {transition: all linear 0.25s;}
h1 {font-size:6rem; font-weight: 100; margin-top:0;}
h2 {margin-top:4rem;}
h1, h2, h3, h4, h5 {padding: 0; margin-bottom:0.5em;}

.horlist {
    list-style-type: none;
    margin: 0; padding: 0;
}
.horlist li {
    display: inline-block;
    margin:0; padding: 0;
    margin-right: 1rem;
}

div#gradients {
    min-height: 10vw; width:100%;
    position: relative; z-index: 2;
    background-color: green ;
    background: linear-gradient(45deg, #926,#16c,#084);
    transform: skewY(-5deg); transform-origin: 0;
}

.text-centered {text-align: center;}
.text-xl {font-size:2rem;}